{% extends 'women/base.html' %}

{% block content %}
<h1>{{title}}</h1>
    <ul class="list-articles">
        <li>Данный сайт реализован на фреймворке Django version 4.1.1</li>
        <li>Представления реализованы на основе классов Class-based views</li>
        <li>Были использованы кастомные Миксины(файл utils.py)</li>
        <li>Страницы созданы с использованием базового шаблона base.html</li>
        <li>При генерации маршрутов использовался slug</li>
        <li>Во вкладке меню 'Обратная связь' реализована captcha</li>
        <li>Реализована возможность регистрации и аутентификации пользователя</li>
        <li>Реализована пагинация</li>
        <li>Реализовано кеширование в файл</li>
    </ul>



{% endblock %}
