{% extends 'women/base.html' %}

{% block content %}

<h1>{{post.title}}</h1>
    <ul class="list-articles">
<li><div class="article-panel">
    <h1>Удаление поста</h1>
    <form action="" method="post">
        {% csrf_token %}
      <p>Вы действительно хотите удалить пост "{{ object }}"?</p>
      <button type="submit" value="Confirm">Удалить</button>
    </form>
{#	<p class="link-read-post"><button type="submit" value="Confirm">Удалить</button></p>#}
</div>

{#<h1>Удаление поста</h1>#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#      <p>Вы действительно хотите удалить пост "{{ object }}"?</p>#}
{#      <button type="submit" value="Confirm">Удалить</button>#}
{#    </form>#}
    </ul>
{% endblock %}
