{% extends 'women/base.html' %}

{% block content %}
    <ul class="list-articles">
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}

{{post.content|linebreaks}}
    <li><div class="article-panel">
	<p class="link-read-post"><a href="{% url 'post_delete' post.slug %}">Удалить пост</a></p>
</div>
    </ul>
{% endblock %}
